@charset "UTF-8";

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4, 100, 0);

}

/* Tudo que for id ="" em HTML    é representado em CSS com # */
/* Tudo que for class="" em HTML  é representado em CSS com . */
h1#principal{
    text-align: center;
    background-color: rgb(4, 100, 0); 
    color: white;

}
h2{
    color: rgb(73, 109, 71);

}
/* Para class="" em CSS usa-se somente    .      */
.basico{
    color: rgb(73, 109, 71);

}
.intermediario{
    color: rgb(71, 71, 109);

}
.avancado{
    color: rgb(109, 73, 71);

}
.destaque{
    background-color: #adad35c3;
}
